<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="uk-background-muted uk-position-cover ">
    <div class=" uk-container uk-margin-top uk-text-center">
        <div class="uk-border-rounded uk-card uk-card-body uk-card-default">
            <h2 class="uk-text-bold" th:text="#{bonappetit}"></h2>
        </div>
        <div th:if="${concreteMenu} != null" class="uk-margin">
            <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                <div th:replace="order-page-section/menu-page-represent-menu"></div>
            </div>
        </div>
        <div th:if="${concreteMenu} == null" class="uk-margin">
            <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                <div class="uk-margin">
                    <h2 th:text="#{error.menu.not_found}"></h2>
                </div>
                <a th:href="@{/home}" class="uk-border-rounded uk-margin uk-button uk-button-default ">
                    Back to home!
                </a>
            </div>
        </div>
    </div>
</body>