<div th:fragment="menu-form" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="uk-form-horizontal" th:action="@{/menu/publish}" th:object="${dailyMenu}" th:method="POST">
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" id="datePicker" type="date" th:field="*{date}"
                   pattern="yyyy/MM/dd" placeholder="1970-01-01" required>
            <td th:if="${#fields.hasErrors('*{date}')}"
                th:errors="*{date}"></td>
        </div>
        <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
            <div th:text="#{publisher.main.request}"></div>
        </div>
        <div th:each="menu, i : *{menuList}">
            <h2 th:text="*{menuList[__${i.index}__].getMenuType()}"></h2>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Soup"
                       th:field="*{menuList[__${i.index}__].food.soupName}">
            </div>
            <td th:if="${#fields.hasErrors('*{menuList[__${i.index}__].food.soupName}')}"
                th:errors="*{menuList[__${i.index}__].food.soupName}">TeamName Error
            </td>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Main"
                       th:field="*{menuList[__${i.index}__].food.mainName}">
            </div>
            <td th:if="${#fields.hasErrors('*{menuList[__${i.index}__].food.mainName}')}"
                th:errors="*{menuList[__${i.index}__].food.mainName}">TeamName Error
            </td>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Dessert"
                       th:field="*{menuList[__${i.index}__].food.dessertName}">
            </div>
            <td th:if="${#fields.hasErrors('*{menuList[__${i.index}__].food.dessertName}')}"
                th:errors="*{menuList[__${i.index}__].food.dessertName}">TeamName Error
            </td>
        </div>
        <a th:href="@{/home}" class="uk-border-rounded uk-margin uk-button uk-button-primary">
            Go back to Home!
        </a>
        <button type="submit" class="uk-border-rounded uk-margin uk-button uk-button-primary">
            Publish!
        </button>
    </form>
    <script>
        document.getElementById('datePicker').value = new Date().toDateInputValue();


    </script>
</div>