<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="uk-background-muted uk-position-cover ">
    <div class=" uk-container uk-margin-top uk-text-center">
        <div class="uk-border-rounded uk-card uk-card-body uk-card-default">
            <h2>Orders Check-Out</h2>
        </div>
        <div class="uk-margin">
            <div th:if="${orderCheckout} != null">
                <div th:if="not ${orderCheckout.orderUserMap.isEmpty()}">
                    <div th:each="orderEntry : ${orderCheckout.orderUserMap}">
                        <div th:if="${orderEntry.value.size()} > 0">
                            <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                                <p th:text="#{check-out.main.info}"></p>
                            </div>
                            <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                                <div class="uk-margin">
                                    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                                        <div th:each="orderEntry : ${orderCheckout.orderUserMap}">
                                            <div th:if="${orderEntry.value.size()} > 0">
                                                <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                                                    <h3 th:text="${orderEntry.key}"></h3>
                                                    <hr class="uk-divider-small">
                                                    <div th:each=" userEntry : ${orderEntry.value}">
                                                        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                                                            <p th:text="${userEntry.name}"></p>
                                                            <a th:href="@{'/orders/check-out/user/' + ${userEntry.id}}"><span
                                                                    uk-icon="plus-circle"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${orderCheckout.orderUserMap.isEmpty()}">
                    <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                        <p th:text="#{check-out.main.all-checked}"></p>
                    </div>
            <div th:if="${orderCheckout} == null">
                <div class="uk-border-rounded uk-card uk-card-default uk-card-small uk-card-body uk-margin">
                    <div class="uk-margin">
                        <h2 th:text="#{error.menu.not_published}"></h2>
                    </div>
                </div>
            </div>
        </div>
</body>